<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<RollingFile name="RollingFile" fileName="logs/fffcapp.log"
                 filePattern="logs/$${date:yyyy-MM}/fffcapp-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout Pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>