<?xml version="1.0" encoding="UTF-8"?>
<!-- DO NOT FORMAT THIS XML -->
<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS}  %level  %logger %msg%n</pattern>
		</layout>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>